.carousel-item img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}
/* Hover effect for prev/next buttons */

.carousel-control.left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5%;
    text-align: center;
    opacity: 0.5;
    background: none;
    border: none;
}

.carousel-control.right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5%;
    opacity: 0.5;
    text-align: center;
    background: none;
    border: none;
}

    .carousel-control.left:hover, .carousel-control.right:hover, .carousel-control.left:focus, .carousel-control.right:focus {
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
        background-image: -o-linear-gradient(left, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,0.5)), to(rgba(0,0,0,0.0001)));
        background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
    }

.movie-card {
    position: relative;
    margin: 0 auto; /* Căn giữa phần tử */
    width: 200px;
    text-align: center; /* Căn giữa nội dung bên trong */
}



    .movie-card img {
        width: 100%;
        border-radius: 10px;
    }



.movie-info {
    text-align: left; /* Căn giữa thông tin phim */
    margin: 3px;
}

    .movie-info h5 {
        font-size: 16px;
        font-weight: bold;
    }

    .movie-info p {
        margin: 0;
    }

.sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px !important;
    height: 63px !important;
}

.sticker-new {
    background: url(https://betacinemas.vn/assets/frontend/layout/img/hot.png) no-repeat;
    left: auto;
    right: 0;
}
/* Style the tab */
.tab {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: none;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background: none;
        float: left;
        border: none;
        width: 300px;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        color: black;
        font-size: 25px;
        width: 300px;
        font-weight: bold;
        transition: transform 0.2s;
    }

        /* Change background color of buttons on hover */
        /* 	.tab button:hover {
										border-bottom: 2px solid blue;
									} */

        /* Create an active/current tablink class */
        .tab button.active {
            padding-top: 3px;
            color: rgb(56, 172, 239);
            border-bottom: 3px solid rgb(56, 172, 239);
        }

.btn-mua-ve2 {
    /*padding: 10px 70px;*/
    position: relative;
    font-size: large;
    border: none;
    font-weight: bold;
    color: #fff;
    background-color: rgb(19, 113, 180);
    border-radius: 4px !important;
    transition: transform 0.2s ease-in-out;
}

    .btn-mua-ve2:hover {
        background-image: linear-gradient(to right, #0a64a7 0%, #258dcf 51%, #3db1f3 100%) !important;
        color: #fff;
    }

.mr3 {
    font-size: 70px;
    position: absolute;
    left: -10px;
    opacity: 0.5;
    color: #fff;
}

.open-modal-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Định dạng cho modal */
.modal-buy {
    display: none; /* Ẩn modal mặc định */
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
    justify-content: center;
    align-items: center;
}

.modal-size {
    width: 85%;
    height: 804px;
    background-color: #fff;
}
/* Nội dung của modal */
.modal-content-buy {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.modal-body {
    height: 613px;
}
/* Nút đóng modal */
.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
