.seat-btn {
    background-color: #fff;
    outline: solid 1px #000;
    color: #000;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 10px;
}

    .seat-btn:hover {
        background-color: #fff;
        color: #000;
        outline: solid 1px #000;
    }

.seat-Normal {
    background-color: #7C4DFF;
    outline: none;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 10px;
    cursor: not-allowed;
    pointer-events: none;
}

.seat-Unavailable {
    background-color: #263238;
    outline: none;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 10px;
    cursor: not-allowed;
    pointer-events: none;
}

.seat-VIP {
    background-color: #DD2C00;
    outline: none;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 10px;
    cursor: not-allowed;
    pointer-events: none;
}

    .seat-VIP:hover {
        background-color: #DD2C00;
        outline: none;
        width: 50px;
        height: 50px;
        margin: 0px;
        padding: 10px;
        cursor: not-allowed;
        pointer-events: none;
    }

.seat-Couple {
    background-color: #FF8A80;
    outline: none;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 10px;
    cursor: not-allowed;
    pointer-events: none;
}

    .seat-Couple:hover {
        background-color: #FF8A80;
        outline: none;
        width: 50px;
        height: 50px;
        margin: 0px;
        padding: 10px;
        cursor: not-allowed;
        pointer-events: none;
    }

[data-seat-status="Unavailable"] {
    background-color: #263238;
    color: white;
    outline: none;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 10px;
}

    [data-seat-status="Unavailable"]:hover {
        color: white;
        background-color: #263238;
        outline: none;
    }

[data-seat-status="Normal"] {
    background-color: #7C4DFF;
    outline: none;
    color: #fff;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 10px;
}

    [data-seat-status="Normal"]:hover {
        outline: none;
        background-color: #7C4DFF;
        color: #fff;
    }

[data-seat-status="VIP"] {
    background-color: #DD2C00;
    outline: none;
    color: #fff;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 10px;
}

    [data-seat-status="VIP"]:hover {
        background-color: #DD2C00;
        outline: none;
        color: #fff;
    }

[data-seat-status="Couple"] {
    background-color: #FF8A80;
    outline: none;
    color: #fff;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 10px;
}

    [data-seat-status="Couple"]:hover {
        background-color: #FF8A80;
        outline: none;
        color: #fff;
    }

.btn {
    -webkit-transition: all 0.3s ease-in-out;
}

    .btn:hover {
        -webkit-transform: scale(1.1);
    }

.row {
    padding: 0px;
    margin: 0.5rem;
}

.col {
    padding: 0rem;
    width: 50px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.seat-grid {
    width: max-content;
}

.seatInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-modal {
    display: grid;
    justify-content: center;
}

.edit-btn {
    background-color: #FFA726;
    color: #fff;
}

    .edit-btn:hover {
        background-color: #FFA726;
        color: #fff;
    }