.seat-btn[open] {
    outline: solid 1px #000;
}

.btn {
    -webkit-transition: all 0.3s ease-in-out;
}

    /*.btn:hover {
        -webkit-transform: scale(1.1);
    }*/

    .btn.active {
        background-color: orangered;
        color: white;
        outline: none;
    }

/*[aria-pressed="false"] {
    outline: solid;
}*/

.seat-unavailable {
    display: none;
}



[data-seat-type="Normal"] {
    background-color: #fff;
    color: #000;
    width: 45px;
    height: 45px;
    margin: 0px;
    padding: 10px;
    outline: solid 3px #005a32 !important;
    outline-offset: -4px;
}

/*[data-seat-status="Normal"]:hover {
        background-color: #7C4DFF;
        color: #fff;
    }*/

[data-seat-type="VIP"] {
    background-color: #fff;
    color: #000;
    width: 45px;
    height: 45px;
    margin: 0px;
    padding: 10px;
    outline: solid 3px #DD2C00 !important;
    outline-offset: -4px;
}

/*[data-seat-status="VIP"]:hover {
        background-color: #DD2C00;
        color: #fff;
    }*/

[data-seat-type="Couple"] {
    background-color: #fff;
    color: #000;
    width: 45px;
    height: 45px;
    margin: 0px;
    padding: 10px;
    outline: solid 3px #FF8A80 !important;
    outline-offset: -4px;
}

/*[data-seat-status="Couple"]:hover {
        background-color: #FF8A80;
        color: #fff;
    }*/

.row {
    padding: 0px;
    margin: 0.5rem;
}

.col {
    padding: 0rem;
    width: 50px;
    /*margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;*/
}

.seat-grid {
    width: max-content;
}

.seatInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-modal {
    display: grid;
    justify-content: center;
}

.detail {
    display: grid;
    width: 100%;
}

.selectedSeats {
}

.ticketPrices {
}

.checkout {
    align-content: center;
}

[data-seat-selection="Checked"] {
    background-color: #808080 !important;
    color: #fff;
    width: 45px;
    height: 45px;
    margin: 0px;
    padding: 10px;
    cursor: not-allowed !important;
}
