@page "/bill-update"
<h3>Bill Update</h3>
<div class="container-fluid">
    <form>
        <div class="mb-3">
            <label for="CreateTime" class="form-label">CreateTime</label>
            <input type="text" class="form-control" id="CreateTime " />
        </div>
        <div class="mb-3">
            <label for="VoucherId " class="form-label">VoucherId </label>
            <input type="text" class="form-control" id="VoucherId " />
        </div>
        <div class="mb-3">
            <label for="ActivationStatus " class="form-label">ActivationStatus </label>
            <input type="number" class="form-control" id="ActivationStatus " />
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status">
                <option value="Pending">Pending</option>
                <option value="Paid">Paid</option>
                <option value="Cancelled">Cancelled</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary" >Save</button>
        <button type="button" class="btn btn-secondary">Cancel</button>
    </form>
</div>
@code {

}
