@page "/add-coupon"
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="request" OnValidSubmit="HandleAddCoupon">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="couponCode" class="form-label">Mã khuyến mại</label>
        <input type="text" class="form-control" id="couponCode" placeholder="Nhập mã mới" required @bind-value="request.CouponCode">
    </div>
    <div class="mb-3">
        <label for="amountValue" class="form-label">Giá trị</label>
        <input type="number" class="form-control" id="amountValue" required @bind-value="request.AmountValue">
    </div>
    <div class="mb-3">
        <label for="startDate" class="form-label">Thời gian bắt đầu:</label>
        <input type="datetime-local" class="form-control" id="startDate" required @bind-value="request.StartDate" />
    </div>
    <div class="mb-3">
        <label for="endDate" class="form-label">Thời gian kết thúc:</label>
        <input type="datetime-local" class="form-control" id="endDate" required @bind-value="request.EndDate" />
    </div>

    <label for="isActive" class="form-label">Trạng thái:</label>
    <div>
        <input type="radio" id="active" name="isActive"
               value="true"
               checked="@(request.IsActive)"
               @onchange="OnIsActiveChanged" />
        <label for="active" class="form-label">Hoạt động</label>
    </div>
    <div>
        <input type="radio" id="inactive" name="isActive"
               value="false"
               checked="@(request.IsActive == false)"
               @onchange="OnIsActiveChanged" />
        <label for="inactive" class="form-label">Không hoạt động</label>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Lưu Thay Đổi</button>
    </div>
</EditForm>

@code {
    private CreateCouponRequest request = new CreateCouponRequest
        {
            StartDate = DateTime.Now,
            EndDate = DateTime.Now.AddDays(1),
            IsActive = false
        };
    private CancellationToken cancellationToken;

    private async Task HandleAddCoupon()
    {
        var result = await CouponService.CreateAsync(request, cancellationToken);
        if (result.Status == 201)
        {
            await JSRuntime.ToastrSuccess(result.Message);
            await Task.Delay(2000);
            NavigationManager.NavigateTo("/coupon", forceLoad: true);
        }
        else
        {
            await JSRuntime.ToastrError(result.Message);
        }
    }

    private void OnIsActiveChanged(ChangeEventArgs e)
    {
        request.IsActive = e.Value?.ToString() == "true";
    }
}
