@page "/create-cinema-center"

<div class="container-fluid">
    <div class="row">
        <!-- Tên rạp chiếu -->
        <div class="col-md-12">
            <div class="form-group">
                <label for="tenRap">Tên rạp:</label>
                <input type="text" class="form-control" id="tenRap" />
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <!-- Địa chỉ -->
        <div class="col-md-12">
            <div class="form-group">
                <label for="diaChi">Địa chỉ:</label>
                <input type="text" class="form-control" id="diaChi" style="width: 100%;" />
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <button class="btn btn-primary">Tạo rạp chiếu</button>
            <a href="/cinema-center" class="btn btn-secondary">Quay lại</a>
        </div>
    </div>
</div>

@code {

}
