@page "/ticket-price"
<div class="modal fade" id="CreateTicketPriceModalToggle" aria-hidden="true" aria-labelledby="CreateTicketPriceToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="CreateTicketPriceToggleLabel">Tạo giá vé</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="seatType" class="form-label">Loại ghế <span class="text-danger">*</span></label>
                        <select class="form-select" id="seatType" required>
                            <option selected disabled>Select a seat type</option>
                            <option value="1">Ghế thường</option>
                            <option value="2">Ghế VIP</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="graphicsType" class="form-label">Hình thức chiếu <span class="text-danger">*</span></label>
                        <select class="form-select" id="graphicsType" required>
                            <option selected disabled>Select a graphics type</option>
                            <option value="2D">2D</option>
                            <option value="3D">3D</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="screeningTimeType" class="form-label">Loại suất chiếu <span class="text-danger">*</span></label>
                        <select class="form-select" id="screeningTimeType" required>
                            <option selected disabled>Select a screening time type</option>
                            <option value="early">Suất chiếu sớm</option>
                            <option value="late">Suất chiếu muộn</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="dayType" class="form-label">Loại ngày <span class="text-danger">*</span></label>
                        <select class="form-select" id="dayType" required>
                            <option selected disabled>Select a day type</option>
                            <option value="weekday">Ngày thường</option>
                            <option value="weekend">Ngày cuối tuần</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="auditoriumType" class="form-label">Loại phòng chiếu <span class="text-danger">*</span></label>
                        <select class="form-select" id="auditoriumType" required>
                            <option selected disabled>Select an auditorium type</option>
                            <option value="standard">Tiêu chuẩn</option>
                            <option value="imax">IMAX</option>
                            <option value="gold">Gold Class</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="ticketPrice" class="form-label">Giá tiền <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="ticketPrice" placeholder="Enter price" required>
                    </div>

                </form>
            </div>  <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="UpdateTicketPriceModalToggle" aria-hidden="true" aria-labelledby="UpdateTicketPriceToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="UpdateTicketPriceToggleLabel">Sửa giá vé</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="seatType" class="form-label">Loại ghế <span class="text-danger">*</span></label>
                        <select class="form-select" id="seatType" required>
                            <option selected disabled>Select a seat type</option>
                            <option value="1" selected>Ghế thường</option>
                            <option value="2">Ghế VIP</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="graphicsType" class="form-label">Hình thức chiếu <span class="text-danger">*</span></label>
                        <select class="form-select" id="graphicsType" required>
                            <option selected disabled>Select a graphics type</option>
                            <option value="2D" selected>2D</option>
                            <option value="3D">3D</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="screeningTimeType" class="form-label">Loại suất chiếu <span class="text-danger">*</span></label>
                        <select class="form-select" id="screeningTimeType" required>
                            <option selected disabled>Select a screening time type</option>
                            <option value="early" selected>Suất chiếu sớm</option>
                            <option value="late">Suất chiếu muộn</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="dayType" class="form-label">Loại ngày <span class="text-danger">*</span></label>
                        <select class="form-select" id="dayType" required>
                            <option selected disabled>Select a day type</option>
                            <option value="weekday" selected>Ngày thường</option>
                            <option value="weekend">Ngày cuối tuần</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="auditoriumType" class="form-label">Loại phòng chiếu <span class="text-danger">*</span></label>
                        <select class="form-select" id="auditoriumType" required>
                            <option selected disabled>Select an auditorium type</option>
                            <option value="standard" selected>Tiêu chuẩn</option>
                            <option value="imax">IMAX</option>
                            <option value="gold">Gold Class</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="ticketPrice" class="form-label">Giá tiền <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="ticketPrice" value="100000" required>
                    </div>

                </form>
            </div>  <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>

        </div>
    </div>
</div>
<div class="mb-3">
    <!--Create Ticket Price-->
 
   
    <a class="btn btn-primary me-2" data-bs-toggle="modal" href="#CreateTicketPriceModalToggle" role="button">
        <i class="bi bi-plus-lg"></i> Tạo giá vé
    </a>
    <a class="btn btn-info bg-opacity-25 text-light" role="button">
        <i class="bi bi-arrow-clockwise"></i>Refresh
    </a>

</div>
<table class="table align-middle" style="table-layout: fixed">
    <thead class="" >
        <tr class="">
            <th><p class="border-end mb-0">Loại ghế</p></th>
            <th><p class="border-end mb-0">Hình thức</p></th>
            <th><p class="border-end mb-0">Loại xuất chiếu</p></th>
            <th><p class="border-end mb-0">Loại ngày áp dụng</p></th>
            <th><p class="border-end mb-0">Loại phòng chiếu</p></th>
            <th><p class="border-end mb-0">Giá vé</p></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row"><span class="p-2 m-2 badge text-secondary bg-secondary bg-opacity-10 border border-secondary">Ghế thường</span></td>
            <td><span class="p-2 m-2 badge text-info bg-info bg-opacity-10 border border-info">2D</span></td>
            <td><span class="p-2 m-2 badge text-primary bg-primary bg-opacity-10 border border-primary">Xuất chiếu sớm</span></td>
            <td><span class="p-2 m-2 badge text-primary bg-primary bg-opacity-10 border border-primary">Ngày thường</span></td>
            <td><span class="p-2 m-2 badge text-warning bg-warning bg-opacity-10 border border-warning">Tiêu chuẩn</span></td>
            <td><span class="">100,000</span></td>
            <td>
                <a class="p-2 m-2 badge text-light bg-primary" data-bs-toggle="modal" href="#UpdateTicketPriceModalToggle" role="button">
                    <i class="bi bi-pencil-square fs-6"></i>
                </a>
                <span class="p-2 m-2 badge text-light bg-danger">
                    <i class="bi bi-trash3 fs-6"></i>
                </span>
            </td>

        </tr>
        <tr>
            <td scope="row"><span class="p-2 m-2 badge text-secondary bg-secondary bg-opacity-10 border border-secondary">Ghế thường</span></td>
            <td><span class="p-2 m-2 badge text-info bg-info bg-opacity-10 border border-info">2D</span></td>
            <td><span class="p-2 m-2 badge text-primary bg-primary bg-opacity-10 border border-primary">Xuất chiếu sớm</span></td>
            <td><span class="p-2 m-2 badge text-primary bg-primary bg-opacity-10 border border-primary">Ngày thường</span></td>
            <td><span class="p-2 m-2 badge text-warning bg-warning bg-opacity-10 border border-warning">Tiêu chuẩn</span></td>
            <td><span class="">100,000</span></td>
            <td>
                <a class="p-2 m-2 badge text-light bg-primary" data-bs-toggle="modal" href="#UpdateTicketPriceModalToggle" role="button">
                    <i class="bi bi-pencil-square fs-6"></i>
                </a>
                <span class="p-2 m-2 badge text-light bg-danger">
                    <i class="bi bi-trash3 fs-6"></i>
                </span>
            </td>

        </tr>
        <tr>
            <td scope="row"><span class="p-2 m-2 badge text-secondary bg-secondary bg-opacity-10 border border-secondary">Ghế thường</span></td>
            <td><span class="p-2 m-2 badge text-info bg-info bg-opacity-10 border border-info">2D</span></td>
            <td><span class="p-2 m-2 badge text-primary bg-primary bg-opacity-10 border border-primary">Xuất chiếu sớm</span></td>
            <td><span class="p-2 m-2 badge text-primary bg-primary bg-opacity-10 border border-primary">Ngày thường</span></td>
            <td><span class="p-2 m-2 badge text-warning bg-warning bg-opacity-10 border border-warning">Tiêu chuẩn</span></td>
            <td><span class="">100,000</span></td>
            <td>
                <a class="p-2 m-2 badge text-light bg-primary" data-bs-toggle="modal" href="#UpdateTicketPriceModalToggle" role="button">
                    <i class="bi bi-pencil-square fs-6"></i>
                </a>
                <span class="p-2 m-2 badge text-light bg-danger">
                    <i class="bi bi-trash3 fs-6"></i>
                </span>
            </td>

        </tr>
        <tr>
            <td scope="row"><span class="p-2 m-2 badge text-secondary bg-secondary bg-opacity-10 border border-secondary">Ghế thường</span></td>
            <td><span class="p-2 m-2 badge text-info bg-info bg-opacity-10 border border-info">2D</span></td>
            <td><span class="p-2 m-2 badge text-primary bg-primary bg-opacity-10 border border-primary">Xuất chiếu sớm</span></td>
            <td><span class="p-2 m-2 badge text-primary bg-primary bg-opacity-10 border border-primary">Ngày thường</span></td>
            <td><span class="p-2 m-2 badge text-warning bg-warning bg-opacity-10 border border-warning">Tiêu chuẩn</span></td>
            <td><span class="">100,000</span></td>
            <td >
                <a class="p-2 m-2 badge text-light bg-primary" data-bs-toggle="modal" href="#UpdateTicketPriceModalToggle" role="button">
                    <i class="bi bi-pencil-square fs-6"></i>
                </a>
                <span class="p-2 m-2 badge text-light bg-danger">
                    <i class="bi bi-trash3 fs-6"></i>
                </span>
            </td>

        </tr>
        <tr>
            <td scope="row"><span class="p-2 m-2 badge text-secondary bg-secondary bg-opacity-10 border border-secondary">Ghế thường</span></td>
            <td><span class="p-2 m-2 badge text-info bg-info bg-opacity-10 border border-info">2D</span></td>
            <td><span class="p-2 m-2 badge text-primary bg-primary bg-opacity-10 border border-primary">Xuất chiếu sớm</span></td>
            <td><span class="p-2 m-2 badge text-primary bg-primary bg-opacity-10 border border-primary">Ngày thường</span></td>
            <td><span class="p-2 m-2 badge text-warning bg-warning bg-opacity-10 border border-warning">Tiêu chuẩn</span></td>
            <td><span class="">100,000</span></td>
            <td>
                <a class="p-2 m-2 badge text-light bg-primary" data-bs-toggle="modal" href="#UpdateTicketPriceModalToggle" role="button">
                    <i class="bi bi-pencil-square fs-6"></i>
                </a>
                <span class="p-2 m-2 badge text-light bg-danger">
                    <i class="bi bi-trash3 fs-6"></i>
                </span>
            </td>

        </tr>
        <tr>
            <td scope="row"><span class="p-2 m-2 badge text-secondary bg-secondary bg-opacity-10 border border-secondary">Ghế thường</span></td>
            <td><span class="p-2 m-2 badge text-info bg-info bg-opacity-10 border border-info">2D</span></td>
            <td><span class="p-2 m-2 badge text-primary bg-primary bg-opacity-10 border border-primary">Xuất chiếu sớm</span></td>
            <td><span class="p-2 m-2 badge text-primary bg-primary bg-opacity-10 border border-primary">Ngày thường</span></td>
            <td><span class="p-2 m-2 badge text-warning bg-warning bg-opacity-10 border border-warning">Tiêu chuẩn</span></td>
            <td><span class="">100,000</span></td>
            <td>
                <a class="p-2 m-2 badge text-light bg-primary" data-bs-toggle="modal" href="#UpdateTicketPriceModalToggle" role="button">
                    <i class="bi bi-pencil-square fs-6"></i>
                </a>
                <span class="p-2 m-2 badge text-light bg-danger">
                    <i class="bi bi-trash3 fs-6"></i>
                </span>
            </td>

        </tr>
    </tbody>
</table>
<nav class="mt-4 d-flex justify-content-end" aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
@code {

}
