@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <AdminNavMenu/>
    </div>

    <main>
        <div class="navbar-brand">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-outline-danger btn-lg" id="logoutBtn">Đăng xuất</button>
            </div>
        </div>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
