@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing
@using static MovieTicket.BlazorServer.Components.BreadCrumb
@inject NavigationManager Navigation
<div style="overflow: hidden;  height: 100vh;">
<div class="page">
    <div class="sidebar">
        <AdminNavMenu />
    </div>
    <main>
        <div class="navbar-brand py-1" style="position: relative">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-outline-danger btn-lg" @onclick="NavigationLogout">Đăng xuất</button>
            </div>
        </div>
        <article class="content" style="background-color: rgb(245, 245, 245)">
            <BreadCrumb BreadcrumbItems="GetBreadcrumbItems()" />
            <div class="bg-white px-4 pt-4 rounded-3 scrollable" style="min-height: calc(100vh - 115px);">
                @Body
            </div>
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
	</div>
</div>
<style>
    .scrollable {
        max-height: calc(100vh - 50px); /* 56px là chiều cao của navbar */
        overflow-y: scroll; /* Cuộn dọc */
    }

    .container-fluid {
        padding-bottom: 4rem;
    }
</style>
@code {
    private List<BreadcrumbItem> GetBreadcrumbItems()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var segments = uri.Segments.Where(s => !string.IsNullOrEmpty(s)).ToList();

        var items = new List<BreadcrumbItem>();
        string path = "";

        foreach (var segment in segments)
        {
            path += segment;
            if (segment.Length > 1)
            {
                items.Add(new BreadcrumbItem
                    {
                        Title = char.ToUpper(segment[0]) + segment.Substring(1).Replace("-", " "),
                        Link = path
                    });
            }
        }
        return items;
    }
    private void NavigationLogout()
    {
        Navigation.NavigateTo("/");
    }
}