<div class="top-row ps-3 navbar navbar" style="background-color: #3c8dbc;">

	<div class="container">
		<a class="navbar-brand text-white" href="">Admin</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="background-color: #031529;">
	<nav class="flex-column">
		<div class="nav-item px-3">

			<NavLink class="nav-link"
					 data-bs-toggle="collapse"
					 href="#collapseHome"
					 aria-expanded="false"
					 aria-controls="collapseHome">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
			</NavLink>
			<div class="collapse" id="collapseHome">
				<ul class="">
					<li class="" aria-current="true">
						<NavLink class="nav-link" href="">
							<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> General
						</NavLink>
					</li>
					<li class="">
						<NavLink class="nav-link" href="revenue-by-movie">
							<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Revenue By Film
						</NavLink>
					</li>
					<li class="">
						<NavLink class="nav-link" href="revenue-by-cinema">
							<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Revenue By Cinema
						</NavLink>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link"
					 data-bs-toggle="collapse"
					 href="#collapseFilm"
					 aria-expanded="false"
					 aria-controls="collapseFilm">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Film
			</NavLink>
			<div class="collapse" id="collapseFilm">
				<ul class="">
					<li class="" aria-current="true">
						<NavLink class="nav-link" href="list-film">
							<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> List Film
						</NavLink>
					</li>
					<li class="">
						<NavLink class="nav-link" href="create-film">
							<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Film
						</NavLink>
					</li>
					<li class="">
						<NavLink class="nav-link" href="update-film">
							<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Update Film
						</NavLink>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="cinema-center">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cinema Center
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="scheduel">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Scheduel
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="showtime">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Showtime
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="bill-list">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bill
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link"
					 data-bs-toggle="collapse"
					 href="#collapseTicketPrice"
					 aria-expanded="false"
					 aria-controls="collapseTicketPrice">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ticket Price
			</NavLink>
			<div class="collapse" id="collapseTicketPrice">
				<ul class="">
					<li class="" aria-current="true">
						<NavLink class="nav-link" href="ticket-price">
							<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Basic Ticket Price
						</NavLink>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="combo">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Combo
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="voucher">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Voucher
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="list-user">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User
			</NavLink>
		</div>
	</nav>
</div>
