<div class="top-row ps-3 navbar navbar" style="background-color: #3c8dbc;">
	<div class="container">
		<a class="navbar-brand text-white" href="admin">Admin</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="background-color: #031529;">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link"
					 data-bs-toggle="collapse"
					 href="#collapseHome"
					 aria-expanded="false"
					 aria-controls="collapseHome">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
			</NavLink>
			<div class="collapse" id="collapseHome">
				<ul class="ps-0">
					<li class="" aria-current="true">
						<NavLink class="nav-link" href="admin">
							<span aria-hidden="true"></span> Tổng quan
						</NavLink>
					</li>
					<li class="">
						<NavLink class="nav-link" href="revenue-by-movie">
							<span aria-hidden="true"></span> Doanh thu theo Phim
						</NavLink>
					</li>
					<li class="">
						<NavLink class="nav-link" href="revenue-by-cinema">
							<span aria-hidden="true"></span> Doanh thu theo Rạp
						</NavLink>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link"
					 data-bs-toggle="collapse"
					 href="#collapseFilm"
					 aria-expanded="false"
					 aria-controls="collapseFilm">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Phim
			</NavLink>
			<div class="collapse" id="collapseFilm">
				<ul class="ps-0"> @* k lùi dòng*@
					<li class="" aria-current="true">
						<NavLink class="nav-link" href="film">
							<span class="" aria-hidden="true"></span> Danh sách Phim
						</NavLink>
					</li>
					<li class="">
						<NavLink class="nav-link" href="create-film">
							<span class="" aria-hidden="true"></span> Tạo Phim
						</NavLink>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="cinema-center">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Rạp
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="cinema">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Phòng chiếu
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="scheduel">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lịch Chiếu
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="showtime">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Suất Chiếu
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="bill">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Hóa Đơn
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="ticket-price">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Giá Vé
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="dich-vu">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dịch vụ
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="coupon">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Coupon
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="user">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="banner">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Banner
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="about">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> About
			</NavLink>
		</div>
	</nav>
</div>
<script>
	$(function () {
		$('.nav-link').on('click', function () {
			$('.nav-link').removeClass('active');
			$(this).toggleClass("active");
		});

	});</script>

<style>
	.collapse {
		background-color: rgb(1, 13, 23);
	}

	ul {
		list-style: none;
	}

		ul li .nav-link {
			padding-left: 32px;
		}
</style>
