@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using MovieTicket.Application.DataTransferObjs.Account.Request
@using MovieTicket.Application.DataTransferObjs.Auth
@using WebUI.Pages
@inject IJSRuntime _IJSRuntime;
@inject NavigationManager Navigation

<div class="navbar-brand">
	<!-- Login modal -->
	<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" data-bs-theme="dark">
					<h4 class="modal-title">Đăng nhập</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<LoginModal />
				</div>
				<div class="modal-footer d-flex justify-content-between">
					<div>
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
					</div>
					<div>
						<p><a id="regis" data-bs-toggle="modal" data-bs-target="#regisModal" href="#">Đăng ký</a></p>
						<p><a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Quên mật khẩu?</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Register Modal -->
	<div class="modal fade" id="regisModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" data-bs-theme="dark">
					<h4 class="modal-title">Đăng ký</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<RegisterModal />
				</div>
				<div class="modal-footer d-flex justify-content-between">
					<div>
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
					</div>
					<div>
						<p><a href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Đăng nhập</a></p>
						<p><a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Quên mật khẩu?</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Forgot Password Modal -->
	<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" data-bs-theme="dark">
					<h4 class="modal-title">Quên mật khẩu</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label for="email" class="form-label">Email</label>
							<input type="email" class="form-control" @bind-value="@InputEmail" id="email" placeholder="Nhập email">
						</div>
						<div class="text-center"><p class="btn btn-primary" @onclick="HandleSendEmailAsync">Gửi yêu cầu</p></div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="forgotPasswordModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" data-bs-theme="dark">
					<h4 class="modal-title">Quên mật khẩu</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label for="" class="form-label">Mã xác nhận</label>
							<input type="text" class="form-control" @bind-value="request.ConfirmPW" id="email" placeholder="Nhập mã xác nhận">
							<div class="text-center"><p class="btn btn-primary" @onclick="HandleReplaySendEmailAsync">Gửi lại</p></div>
						</div>
						<div class="mb-3">
							<label for="" class="form-label">Mật khẩu mới</label>
							<input type="password" class="form-control" @bind-value="request.NewPassword" id="email" placeholder="Vui lòng nhập mật khẩu">
						</div>
						<div class="mb-3">
							<label for="" class="form-label">Xác nhận mật khẩu</label>
							<input type="password" class="form-control" @bind-value="InputConfirmPW" id="email" placeholder="Vui lòng nhập lại mật">
						</div>
						<div class="text-center"><button type="submit" class="btn btn-primary" @onclick="HandlForgotPasswordAsync">Gửi yêu cầu</button></div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Đặt nav vào trong một container để căn giữa -->
<div class="navbar-container">
	<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
		<div class="container">
			<a class="navbar-brand" href="#">
				<img src="img/logo.png" alt="Logo" height="70" width="80" />
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
				<ul class="navbar-nav mb-2 mb-lg-0">
					<li class="nav-item">
						<NavLink class="nav-link" href="/cinema-system">LỊCH CHIẾU THEO RẠP</NavLink>
					</li>
					<li class="nav-item mt-3">
						<NavLink class="nav-link" href="/film-user">PHIM</NavLink>
					</li>
					<li class="nav-item mt-3">
						<NavLink class="nav-link" href="/cinemacenter-user">THÔNG TIN RẠP</NavLink>
					</li>
					<li class="nav-item mt-3">
						<NavLink class="nav-link" href="/about-membership">THÀNH VIÊN</NavLink>
					</li>
				</ul>
			</div>
			<div class="auth-buttons">
				<AuthorizeView>
					<NotAuthorized>
						<div class="d-flex align-items-center">
							<button type="button" class="btn btn-outline-success me-2 btn-sm" id="loginBtn" data-bs-toggle="modal" data-bs-target="#loginModal">Đăng nhập</button>
							<button class="btn btn-outline-success me-2 btn-sm" type="button" id="regisBtn" data-bs-toggle="modal" data-bs-target="#regisModal">Đăng ký</button>
						</div>
					</NotAuthorized>
					<Authorized>
						<div class="d-flex align-items-center">
							<a class="mb-0 me-3" style="font-size: 18px; text-decoration: none" href="/userinformation">Xin chào, @context.User.Identity.Name</a>
							<a href="logout" class="btn btn-outline-danger btn-sm">Đăng xuất</a>
						</div>
					</Authorized>
				</AuthorizeView>
			</div>
		</div>
	</nav>
</div>

<style>
	/* Đặt navbar cố định và luôn hiển thị ở đầu */
	.navbar-container nav {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;
	}

	/* Đặt container giới hạn chiều rộng và căn giữa nội dung */

	/* Thêm khoảng cách cho nội dung phía dưới navbar */
	body {
		padding-top: 70px; /* Điều chỉnh theo chiều cao của navbar */
	}

	/* Điều chỉnh giao diện của navbar */
	.navbar-nav {
		display: flex;
		justify-content: center;
		gap: 15px;
	}

	.navbar-light .nav-link {
		font-weight: bold;
		color: black;
	}

		.navbar-light .nav-link.active {
			color: #FF5733;
		}

		.navbar-light .nav-link:hover {
			color: red;
		}

	/* Ô tìm kiếm */
	.form-control {
		border-radius: 5px;
		margin-left: 10px;
	}

	.btn-outline-dark {
		border-radius: 5px;
	}

	.nav-link {
		font-size: 18px;
	}

	.auth-buttons {
		display: flex;
		align-items: center; /* Căn giữa theo chiều dọc */
	}

		.auth-buttons p {
			margin-bottom: 0;
			font-weight: bold;
		}

	.btn-outline-success {
		margin-left: 10px;
	}

</style>

<script>
	function openModal(modalId) {
		var modalElement = document.getElementById(modalId);
		var modal = new bootstrap.Modal(modalElement);
		modal.show();
	}
	function closeModall(modalId) {
		var modalElement = document.getElementById(modalId);
		var modal = bootstrap.Modal.getInstance(modalElement);
		if (modal) {
			modal.hide();
		}
	}
</script>

@code{
	private ForgotPasswordRequest request = new ForgotPasswordRequest();
	private string InputEmail;
	private Guid AccountId;
	private string InputConfirmPW;
	private async Task HandleSendEmailAsync()
	{
		await _IJSRuntime.ToastrSuccess("Đang gửi...");
		var send = await AccountUtilitiesService.SendEmail(InputEmail, EmailType.ForgotPassword);
		if (send.Status == 200)
		{
			AccountId = send.Data;
			await _IJSRuntime.ToastrSuccess(send.Message);
			await JSRuntime.InvokeVoidAsync("closeModall", "forgotPasswordModal");
			await Task.Delay(100);
			await JSRuntime.InvokeVoidAsync("openModal", "forgotPasswordModal2");
		}
		else
		{
			await _IJSRuntime.ToastrError(send.Message);
		}
	}
	private async Task HandleReplaySendEmailAsync()
	{
		var send = await AccountUtilitiesService.SendEmail(InputEmail, EmailType.ForgotPassword);
		if (send.Status == 200)
		{
			await _IJSRuntime.ToastrSuccess(send.Message);
		}
		else
		{
			await _IJSRuntime.ToastrError(send.Message);
		}
	}
	private async Task HandlForgotPasswordAsync()
	{
		request.AccountId = AccountId;
		if (request.NewPassword.Trim() == InputConfirmPW.Trim())
		{
			var result = await AccountUtilitiesService.ForgotPasswordAsync(request);
			if (result.Status == 200)
			{
				await _IJSRuntime.ToastrSuccess(result.Message);
				await Task.Delay(100);
				Navigation.NavigateTo("/");
			}
			else
			{
				await _IJSRuntime.ToastrError(result.Message);
			}
		}
		else
		{
			await _IJSRuntime.ToastrError("Mật khẩu không khớp");
		}
		
	}
}